/*nav*/

a{
    color: dimgray;
}
.navbar-brand{
    padding: 0px;
}
nav .navbar-brand img{
    width: 40px;
    height: 40px;
    margin: 15px 0px 0px 10px;
}

nav form input{
    border: none;
   width: 50%;
    height: 28px;
    /*opacity: 0.5;*/
}
#input{
    border: 1px solid black;
    /*width: 15rem;*/
    margin-left: 20px;
    background-color: white;
    display: inline-block ;
    height: 35px;

}

form{
    margin-top: 20px;
    margin-left: 60px;
}
/*图*/
.tu img{
    margin-top: 70px;
    width: 100%;
}

/*底部*/
#Dibu span{
    margin-top: 10px;
    padding-left: 28px;
}
#Dibu p{
      padding-left: 23px;
    margin-top: 5px;
}
/*中上*/
#zhongshang{
   width: 100%;
   display: flex;
   justify-content: space-between;
}
#zhongshang img{
    /*width:100rem;*/
    height: 16rem;
    /*height: 2rem;*/
}

/*中下*/

#zhongxia .zuo{
    width: 120px;
    float: left;
    
}
#zhongxia .zuo img{
    width: 150px;
    /*height: 100%;*/
}
#zhongxia .you{
    width: calc(100% - 150px);
    float: right;
}


