/*底部*/
#Dibu span{
    margin-top: 10px;
    padding-left: 30px;
}
#Dibu p{
      padding-left: 23px;
    margin-top: 5px;
}
.navbar .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
}

#an{
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    margin-top: 50px;
}
#an button:nth-child(1){

    font-size: 30px;
    

    
}
#an button:nth-child(2){

    font-size: 30px;

    
}